#heading{
	-fx-fill: #fff;
}
.table-view{
   -fx-background-color:   #F5F5F5;
   -fx-table-cell-border-color: lightgrey;
}

.table-view .column-header {
     -fx-border-color:white;
     -fx-border-width:1;
     -fx-size: 40;

} 

.table-view .column-header-background .label{
    -fx-background-color: transparent; 
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-size: 11pt;
}
.table-row-cell:hover .text {
     -fx-fill: #005aa4 ;    
     -fx-font-size: 11pt;
}.table-row-cell:selected .text{
	     -fx-fill: black ;    
	    -fx-font-size: 12pt;
	
}

.table-row-cell .text{
    
    -fx-fill: black ;
} 

.table-row-cell {
    -fx-cell-size: 40px;
    -fx-text-fill: black;
}


#btn1{
	-fx-background-color: lightgrey;
	
	-fx-background-radius:5px;
	
	
	
}
#btn1:hover{
	-fx-background-color: grey;
	-fx-text-fill: white; 
	
	}
	
#jfxbtn{
	-fx-background-color: #ffff;
	-fx-background-radius: 0px;
}
	

#btn2:hover{
	
	-fx-text-fill: #676768; 
	
	}
	#btn3:hover{
	
	-fx-text-fill: #016f94; 
	
	}
	#jfxbt{
	-fx-background-color: lightgrey;
	
	-fx-background-radius:5px;
}
#jfxbt:hover{
	-fx-background-color: grey;
	-fx-text-fill: white; 
}
